.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    background-color: black;
}

a {
    text-decoration: none;
}

.logoContainer{
    height: 40px;
    display: flex;
    align-items: center;
}

.cabecera img {
    align-items: start;
}

.botonHome,
.nuevoVideo {
    width: 180px;
    height: 55px;
    font-size: 15px;
    padding: 10px 20px; /* Ejemplo de padding */
    background-color: transparent;
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    /* Estilo del borde "neón" */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Sombra difusa */
  }
  
.botonHome:hover,
.nuevoVideo:hover {
    color:  #2271D1; /* Color del texto al pasar el mouse */
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo con transparencia */
    box-shadow: 0 0 15px  #2271D1; /* Sombra más intensa al pasar el mouse */
  }
