.container {
    padding: 5px;
    margin-top: .5em;

    width: 430px;

    background-color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    border-radius: 10px;
    text-align: center;

    height: 319.85px;
}

.capa {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.menuBorrar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0;
    background-color: black;
    color: white;
    border-top: none;
}

.menuBorrar p {
    font-size: 25px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.botonBorrar,
.botonEditar {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border: 1px solid #2271D1;
    color: #2271D1;
    background-color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: space-evenly;
}

.botonBorrar:hover,
.botonEditar:hover {
    border-color: #333;
    color: #333;
    background-color: #2271D1;
}


.botonBorrar {
    border-radius: 0 0 0 10px;
}

.botonEditar {
    border-radius: 0 0 10px 0;
}