.text_error {
    width: 100%;
    margin: 0 auto;
    height: 2em;
    font-size: 3em;
    font-weight: bold;
  }
  .error {
    margin: 0 auto;
    font-size: 18em;
    color: red;
  }

h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
}